<div class="container" role="main" ng-controller="MainController as vm" id="mainContainer">
    
    <div class="row collapse" id="mainRow">
        <div class="col-md-12">
            
            <!-- Grail Header -->
            <div class="page-header">
                <h1>
                    {{::vm.pageCaption}}    
                </h1>
            </div>
            
            <div class="row">
                
                <!-- Grail Left -->
                <div class="col-md-4">
                    
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                {{::vm.leftPanelCaption}}
                            </h3>
                        </div>    
                        <div class="panel-body">
                            
                            <div class="btn-group btn-group-justified" role="group" aria-label="{{vm.taskGroupAriaLabel}}">
                                
                                <div class="btn-group" role="group">
                                    <button type="button" 
                                            class="btn btn-default"
                                            ng-click="vm.openTask()">
                                        <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
                                        <span>&nbsp;</span>
                                        {{vm.openTaskButtonCaption}}
                                    </button>
                                </div>
                                
                                <div class="btn-group" role="group">
                                    <button type="button" 
                                            class="btn btn-default"
                                            ng-click="vm.createNewTask()">
                                        <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                                        <span>&nbsp;</span>
                                        {{vm.newTaskButtonCaption}}
                                    </button>
                                </div>
                                
                            </div>  
                            
                            <h3></h3>
                            
                            <div ng-show="vm.taskFile">
                                <h5><span class="text-info">{{vm.taskFile}}</span></h5>    
                            </div>
                            
                            <div ng-show="vm.newTask !== undefined">
                                <h5><label for="newTaskNameInputId" class="text-info">{{vm.newTaskTokenLabel}}</label></h5>
                                <div class="input-group" >
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-random" aria-hidden="true"></span>
                                    </span>
                                    <input  type="text"
                                            aria-label="{{::vm.newTaskTokenAriaLabel}}"
                                            class="form-control"
                                            placeholder="{{vm.invent}}"
                                            ng-model="vm.newTask"
                                            id="newTaskNameInputId">
                                </div>            
                            </div>
                            
                        </div> <!-- end panel body -->
                    </div> <!-- end panel -->
                    
                </div> <!-- end Grail Left -->    
                
                <!-- Grail Main -->    
                <div class="col-md-8">
                    
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                {{::vm.mainPanelCaption}}
                            </h3>
                        </div>   
                        <div class="panel-body">
                            
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>{{::vm.fieldsCaption}}</th>
                                        <th>{{::vm.valuesCaption}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                    <!-- Train data file -->
                                    <tr>
                                        <td>{{::vm.trainDataFieldCaption}}</td>
                                        <td>
                                            <div class="input-group">
                                                <button 
                                                    class="btn btn-default" 
                                                    aria-label="{{::vm.trainDataAriaLabel}}"
                                                    ng-click="vm.openYadTrain()">
                                                    <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>    
                                                </button>
                                                <span class="help-block" ng-show="vm.trainDataPath">[{{vm.trainDataPath}}]</span>    
                                            </div>
                                        </td>
                                    </tr>
                                    
                                    <!-- Test data file -->
                                    <tr>
                                        <td>{{::vm.testDataFieldCaption}}</td>
                                        <td>
                                            <div class="input-group">
                                                <button 
                                                    class="btn btn-default" 
                                                    aria-label="{{::vm.testDataAriaLabel}}"
                                                    ng-click="vm.openYadTest()">
                                                    <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>    
                                                </button>
                                                <span class="help-block" ng-show="vm.testDataPath">[{{vm.testDataPath}}]</span>
                                            </div>
                                        </td>
                                    </tr>
                                    
                                    <!-- Y Amplitude -->
                                    <tr>
                                        <td>{{::vm.yAmplitudeFieldCaption}}</td>
                                        <td>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-adjust" aria-hidden="true"></span>
                                                </span>
                                                <input  type="number" 
                                                        aria-label="{{::vm.yAmplitudeAriaLabel}}"
                                                        class="form-control"
                                                        min="{{::vm.yAmplitudeMin}}"
                                                        step="{{::vm.yAmplitudeStep}}"
                                                        placeholder="{{::vm.caution}}"
                                                        ng-model="vm.yAmplitude">
                                            </div>
                                        </td>
                                    </tr>
                                    
                                    <!-- Y Separator -->
                                    <tr>
                                        <td>{{::vm.ySeparatorFieldCaption}}</td>
                                        <td>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-adjust" aria-hidden="true"></span>
                                                </span>
                                                <input  type="number" 
                                                        aria-label="{{::vm.ySeparatorAriaLabel}}"
                                                        class="form-control"
                                                        step="{{::vm.ySeparatorStep}}"
                                                        placeholder="{{::vm.caution}}"
                                                        ng-model="vm.ySeparator">
                                            </div>
                                        </td>
                                    </tr>
                                    
                                    <!-- Clusterization radius -->
                                    <tr>
                                        <td>{{::vm.clusterizationRadiusFieldCaption}}</td>   
                                        <td>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-record" aria-hidden="true"></span>
                                                </span>
                                                <input  type="number" 
                                                        aria-label="{{::vm.clusterizationRadiusAriaLabel}}"
                                                        class="form-control"
                                                        min="{{::vm.clusterizationRadiusMin}}"
                                                        step="{{::vm.clusterizationRadiusStep}}"
                                                        placeholder="{{::vm.caution}}"
                                                        ng-model="vm.clusterizationRadius">
                                            </div>
                                        </td>
                                    </tr>
                                    
                                    <!-- Q Factor -->
                                    <tr>
                                        <td>{{::vm.qFactorFieldCaption}}</td>
                                        <td>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-scale" aria-hidden="true"></span>
                                                </span>
                                                <input  type="number" 
                                                        aria-label="{{::vm.qFactorAriaLabel}}"
                                                        class="form-control"
                                                        min="{{::vm.qFactorMin}}"
                                                        step="{{::vm.qFactorStep}}"
                                                        placeholder="{{::vm.caution}}"
                                                        ng-model="vm.qFactor">
                                            </div>
                                        </td>    
                                    </tr>
                                    
                                    <!-- ANFIS rules count -->
                                    <tr>
                                        <td>{{::vm.anfisRulesCountFieldCaption}}</td>
                                        <td>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
                                                </span>
                                                <input  type="number" 
                                                        aria-label="{{::vm.anfisRulesCountAriaLabel}}"
                                                        class="form-control"
                                                        min="{{::vm.anfisRulesCountMin}}"
                                                        step="{{::vm.anfisRulesCountStep}}"
                                                        placeholder="{{::vm.caution}}"
                                                        ng-model="vm.anfisRulesCount">
                                            </div>
                                        </td>
                                    </tr>
                                    
                                    <!-- Adaptive ANFIS rules count -->
                                    <tr>
                                        <td>{{::vm.adaptiveAnfisRulesCountFieldCaption}}</td>
                                        <td>
                                            <div class="input-group" aria-label="{{::vm.adaptiveAnfisRulesCountAriaLabel}}">
                                                <label class="radio-inline">
                                                    <input  type="radio" ng-model="vm.adaptiveAnfisRulesCount" ng-value="vm.trueValue">
                                                    yes
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" ng-model="vm.adaptiveAnfisRulesCount" ng-value="!vm.trueValue">
                                                    no
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    
                                    <!-- L-BFGS iterations count -->
                                    <tr>
                                        <td>{{::vm.lbfgsIterationsCountFieldCaption}}</td>
                                        <td>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span>
                                                </span>
                                                <input  type="number"
                                                        aria-label="{{::vm.lbfgsIterationsCountAriaLabel}}"
                                                        class="form-control"
                                                        min="{{::vm.lbfgsIterationsCountMin}}"
                                                        step="{{::vm.lbfgsIterationsCountStep}}"
                                                        placeholder="{{::vm.caution}}"
                                                        ng-model="vm.lbfgsIterationsCount">
                                            </div>
                                        </td>
                                    </tr>
                                    
                                    <!-- L-BFGS history size -->
                                    <tr>
                                        <td>{{::vm.lbfgsHistorySizeFieldCaption}}</td>
                                        <td>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                                                </span>
                                                <input  type="number"
                                                        aria-label="{{::lbfgsHistorySizeAriaLabel}}"
                                                        class="form-control"
                                                        min="{{::vm.lbfgsHistorySizeMin}}"
                                                        step="{{::vm.lbfgsHistorySizeStep}}"
                                                        placeholder="~10-20; greater is slower"
                                                        ng-model="vm.lbfgsHistorySize">
                                            </div>
                                        </td>
                                    </tr>
                                    
                                    <!-- L-BFGS report steps count -->
                                    <tr>
                                        <td>{{::vm.lbfgsReportStepsCountFieldCaption}}</td>
                                        <td>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span>
                                                </span>
                                                <input  type="number"
                                                        aria-label="{{::vm.lbfgsReportStepsCountAriaLabel}}"
                                                        class="form-control"
                                                        min="{{::vm.lbfgsReportStepsCountMin}}"
                                                        step="{{::vm.lbfgsReportStepsCountStep}}"
                                                        placeholder="low values will populate your logs faster"
                                                        ng-model="vm.lbfgsReportStepsCount">
                                            </div>
                                        </td>
                                    </tr>
                                    
                                    <!-- Acceptable error threshold -->
                                    <tr>
                                        <td>{{::vm.acceptableErrorThresholdFieldCaption}}</td>
                                        <td>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
                                                </span>
                                                <input  type="number"
                                                        aria-label="{{::vm.acceptableErrorThresholdAriaLabel}}"
                                                        class="form-control"
                                                        min="{{::vm.acceptableErrorThresholdMin}}"
                                                        max="{{::vm.acceptableErrorThresholdMax}}"
                                                        step="{{::vm.acceptableErrorThresholdStep}}"
                                                        placeholder="0.5 is very bad; lower is better"
                                                        ng-model="vm.acceptableErrorThreshold">
                                            </div>
                                        </td>
                                    </tr>
                                    
                                    <!-- Acceptable models target token -->
                                    <tr>
                                        <td>{{::vm.acceptableModelsTargetTokenFieldCaption}}</td>    
                                        <td>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-random" aria-hidden="true"></span>
                                                </span>
                                                <input  type="text"
                                                        aria-label="{{::vm.acceptableModelsTargetTokenAriaLabel}}"
                                                        class="form-control"
                                                        placeholder="{{vm.invent}}"
                                                        ng-model="vm.acceptableModelsTargetToken">
                                            </div>
                                        </td>
                                    </tr>
                                    
                                    <!-- Best model target token -->
                                    <tr>
                                        <td>{{::vm.bestModelTargetTokenFieldCaption}}</td>
                                        <td>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-random" aria-hidden="true"></span>
                                                </span>
                                                <input  type="text"
                                                        aria-label="{{::vm.bestModelTargetTokenAriaLabel}}"
                                                        class="form-control"
                                                        placeholder="{{vm.invent}}"
                                                        ng-model="vm.bestModelTargetToken">
                                            </div>            
                                        </td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                                
                        </div>
                    </div> <!-- end Entity panel -->
                    
                    <!-- buttons station -->
                    <div class="row">
                        
                        <!-- submit -->
                        <div class="col-md-2">
                            <div class="btn-group btn-group-justified"  role="group">
                                <div class="btn-group" role="group">
                                    <button ng-class="vm.getSubmitButtonClass()" 
                                            aria-label="{{::vm.submitButtonAriaLabel}}"
                                            ng-click="vm.submitTask()">
                                        <span>
                                            <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true">
                                            </span> {{::vm.submitButtonCaption}}</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        
                        <!-- reset -->
                        <div class="col-md-2">
                            <div class="btn-group btn-group-justified"  role="group">
                                <div class="btn-group" role="group">
                                    <button class="btn btn-default" 
                                            aria-label="{{::vm.resetButtonAriaLabel}}"
                                            ng-click="vm.resetTask()">
                                        <span>
                                            <span class="glyphicon glyphicon-home" aria-hidden="true">
                                            </span> {{::vm.resetButtonCaption}}</span>
                                    </button>
                                </div>    
                            </div>
                        </div>

                        <!-- analyse -->
                        <div class="col-md-2">
                            <div class="btn-group btn-group-justified"  role="group">
                                <div class="btn-group" role="group">
                                    <button ng-class="vm.getAnalyseButtonClass()" 
                                            aria-label="{{::vm.analyseButtonAriaLabel}}"
                                            ng-click="vm.analyseTask()">
                                        <span>
                                            <span class="glyphicon glyphicon-stats" aria-hidden="true">
                                            </span> {{::vm.analyseButtonCaption}}</span>
                                    </button>
                                </div>    
                            </div>
                        </div>

                        <!-- delete -->
                        <div class="col-md-2 col-md-offset-4">
                            <div class="btn-group btn-group-justified"  role="group">
                                <div class="btn-group" role="group">
                                    <button class="btn btn-danger" 
                                            aria-label="{{::vm.deleteButtonAriaLabel}}"
                                            ng-click="vm.deleteTask()"
                                            ng-disabled="!vm.taskFile">
                                        <span>
                                            <span class="glyphicon glyphicon-trash" aria-hidden="true">
                                            </span> {{::vm.deleteButtonCaption}}</span>
                                    </button>
                                </div>    
                            </div>
                        </div>
                        
                    </div>
                    
                </div> <!-- end Grail Right col -->
                
            </div> <!-- end Grail Mid Line row -->
            
            <div class="page-header">
                <h1></h1>
            </div>
            
        </div>
    </div>    
   
    <!-- Status -->
    <nav class="nav navbar-default navbar-fixed-bottom" id="statusBlock" style="display: none;">
        <div class="container" role="status">
            <div class="row">
                <div class="col-md-4">
                    <h4>
                        <span class="label" ng-class="vm.indicatorClass">
                            <span ng-class="vm.indicatorGlyphClass" ng-show="vm.indicatorGlyphClass"></span>
                            <span ng-show="vm.indicatorInfo">{{vm.indicatorInfo}}</span>
                        </span>
                    </h4>
                </div>
                <div class="col-md-8">
                    <h4>
                        <p ng-class="vm.infoClass">{{vm.info}}</p>
                    </h4>
                </div>
            </div>   
        </div>    
    </nav>
    
    <!-- YAD Navigator -->
    <div class="modal" role="dialog" ng-controller="YadNavigatorController as yad" id="yadNavigatorContainer">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>    
                    
                    <h4 class="modal-title">{{::yad.title}} - {{yad.scope}}</h4>
                </div> <!-- end modal header -->
                
                <div class="modal-body">
                    
                    <ul class="list-group" aria-label="{{::yad.fileItemsAriaLabel}}">
                        <li ng-class="yad.getListItemClass($index)"
                            ng-repeat="item in yad.fileItems track by $index"
                            ng-click="yad.activateItem($index)">
                            <span   ng-class="yad.getItemGlyph($index)" 
                                    aria-label="{{yad.getItemAriaLabel($index)}}"></span>
                            <span>&nbsp;</span>        
                            {{item.name}}
                        </li>
                    </ul>
                    
                    <div class="row">
                        
                        <!-- folder up -->
                        <div class="col-md-2" ng-show="yad.scopeStack && (yad.scopeStack.length > 0)">
                            
                            <button class="btn btn-default" 
                                    aria-label="{{::yad.folderUpAriaLabel}}"
                                    ng-click="yad.goLevelUp()">
                                <h4>    
                                <span class="glyphicon glyphicon-level-up" aria-hidden="true"></span>
                                </h4>    
                            </button>
                            
                        </div> <!-- end folder up -->
                        
                        <!-- pager -->
                        <div class="col-md-10">
                            <div ng-show="yad.pages.length > 1">
                                <h4>
                                <span class="text-info">{{::yad.pagesPrefix}}</span><span>&nbsp;</span>
        
                                <button ng-class="yad.getPreviousPageClass()"
                                        aria-label="{{::yad.previousPageAriaLabel}}"
                                        ng-click="yad.activatePreviousPage()">
                                    <span aria-hidden="true">&laquo;</span>
                                </button>  
                                
                                <button ng-class=yad.getPagerClass($index)
                                        ng-repeat="page in yad.pages track by $index"
                                        ng-click="yad.activatePage($index)">
                                    {{yad.getPageLabel($index)}}<span class="sr-only">{{yad.getPageAriaLabel($index)}}</span>
                                </button>
                                
                                <button ng-class="yad.getNextPageClass()"
                                        aria-label="{{::yad.nextPageAriaLabel}}"
                                        ng-click="yad.activateNextPage()">
                                    <span aria-hidden="true">&raquo;</span>
                                </button>  
                                </h4>
                            </div>
                        </div> <!-- end pager -->
                        
                    </div>
                    
                </div> <!-- end modal body -->
                
                <div class="modal-footer">
                    
                    <button type="button" 
                            aria-label="{{::yad.buttonSelectAriaLabel}}"
                            ng-class="yad.getSelectButtonClass()" 
                            ng-click="yad.selectFile()">{{::yad.buttonSelectCaption}}</button>
                            
                    <button type="button" 
                            aria-label="{{::yad.buttonCancelAriaLabel}}"
                            class="btn btn-default" 
                            data-dismiss="modal">{{::yad.buttonCancelCaption}}</button>    
                            
                </div> <!-- end modal footer -->
                
            </div>
        </div>    
    </div>
    
</div>
